@model MVC_EduHub_Project.Models.Material
 
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_LayoutEducatorIndex.cshtml";
}
 
<h1>Delete</h1>
 
<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Material</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.materialId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.materialId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.courseId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.courseId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.URL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.URL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.uploadDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.uploadDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.contentType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.contentType)
        </dd>
    </dl>
   
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index" asp-route-id="@Model.courseId">Back to List</a>
    </form>
</div>
 
 